.white-color {
    color: white !important;
}

.white-color:before {
    color: black !important;
    content: "(";
}

.autocomplete-deluxe-item {
    background-color: white !important;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #0550e6 !important;
    color: #0550e6 !important;
    border-radius: 5px !important;
    text-align: center;
    padding: 15px 10px !important;
    text-align: left  !important;
} 

.autocomplete-deluxe-item:hover {
    cursor: pointer !important;
    background-color: #0550e6 !important;
    color: white !important;

}

.autocomplete-deluxe-item-delete {
    right: 10px  !important;
    top: 15px !important;

}

.autocomplete-deluxe-multiple {
    display: flex !important;
    flex-direction: column !important;
}

.tabledrag-toggle-weight-wrapper {
    display: none !important;
}

.ajax-progress  {
    display: none !important;
}

.paragraphs-icon-button-collapse {
    display: none !important;
}